body {
  font-family: 'nanumsquare';
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns:
    [jobtype-start] 20% 
    [jobtype-end jobborde-start] 80% 
    [jobborde-end];
  
}

.textsize{
  font-weight: 1300;
  font-size: 20px;
}


.href {
  text-decoration: none;
  color: black;
}

.jobtype {
  background: skyblue;
  padding: 10px;

}

.jobborde {
  text-align: center;
  background: rgb(197, 212, 218);
  padding: 10px;
}

.title-bar {
  background: black;
  width: 100%;
  color: white;
  font-weight: 600;
  font-size: 30px;
  display: grid;
  height: 50px;
  grid-template-columns:
    [title-start] 70% 
    [title-end login-start] 30% 
    [login-end];
}

.overlap{
  color: red;
}

.login {
  text-align: center;
}

.signup {
  text-align: center;
}

.map {
  padding-left: 200px;
}

.title {
  padding: 5px;
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}