body {
  font-family: 'nanumsquare';
}
.Carousel{
  width: 100px;
  text-align: center;
  background-color: #7b7c80;
  height: 300px;
}
.loginbtnright{
  background-color: #F3ABB3;
  color: #660000;
  border: 10px;
  /* margin-top: 10px; */
  padding: 6px;
  float: right;
}

.container {
  text-align: center;
  display:grid;
  grid-template-columns:
    [jobtype-start] 20% [jobtype-end jobborde-start] 30% [jobborde-end] 30% ;

}

.textsize {
  font-weight: 1300;
  font-size: 20px;
}

.loginmain{
  background-color: #F3ABB3;
  color: #660000;
  text-size-adjust: 10px;
  padding: 6px;
  border-radius: 50px; 
  width: 100px;
  height: 100px;
  text-align: center;
  display: inline-block;
  
}

.calculatormain{
  background-color: #F3ABB3;
  color: #660000;
  text-size-adjust: 10px;
  padding: 6px;
  border-radius: 100px; 
  width: 200px;
  height: 150px;
  text-align: center;
  display: inline-block;
  
}

.loginbtn{
  background-color: #F3ABB3;
  color: #660000;
  border: 10px;
  padding: 6px;
}

.href {
  text-decoration: none;
  color: #660000;
}

.jobtype {
  /* background: #d8cacc; */
  color: #660000;
  font-size: large;
  text-align: center;
  padding: 10px;

}

.jobborde {
  text-align: center;
  /* background: rgb(197, 212, 218); */
  padding: 10px;
}

.title {
  background: #F3ABB3;
  width: 100%;
  font-size: 35px;
  font-weight: 600;
  padding: 5px;
  text-align: center;
}

.btn_area {
  bottom: 0;
  height: 5rem;
  position: fixed;
  width: 180%;
  /*가로 사이즈를 브라우저에 가득 채움*/
}

.note{
  background-color: #fad6d9;
  color: #660000;
  border: 10px;
  padding: 6px;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.overlap {
  color: red;
}

.login {
  color: #660000;
  text-align: center;
}

.signup {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.center{
  text-align: center;
}

.note{
  background-color: #f7d0d5;
  color: #660000;
  padding: 10px;
  text-align: center;
  border-color: #0055ff;
}

/* 메뉴바 */
nav {
  background: #F3ABB3;
  box-shadow: var(--light-shadow);
}

.nav-header {
  font-size: 30px;
  font-weight: 550;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-toggle {
  font-size: 2rem;
  color: #660000;
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.links a {
  display: block;
  color: var(--clr-grey-3);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.links a:hover {
  background: var(--clr-primary-8);
  color: var(--clr-primary-5);
  padding-left: 1.5rem;
}

.links-container {
  background-color: #f3c6cb;
  color: #660000;
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-container {
  height: 10rem;
}

/* 메인 화면 */
.main{
  background-color: rgb(177, 177, 228);
  border: 5px solid rgb(0, 0, 0);
}
.cardmargin{
  border: 5px solid red;
  position: relative;
}
.card{
  /* width: 300px; */
  padding: 20px;
  border: 5px solid rgb(197, 196, 196);
  margin: 10px;
}


@media screen and (min-width: 800px) {  /*전체화면*/
  .nav-center {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .nav-header {
    padding: 0;
    font-size: 30px;
    font-weight: 550;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-toggle {
    display: none;
  }

  /* 사이즈 변경위해 꼭 필요 */
  .links-container {
    height: auto !important;
  }

  .links {
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
  }

  .links a {
    padding: 0;
    margin-right: 10px;
    text-align: center;
  }

  .links a:hover {
    padding: 0;
    background: transparent;
  }

  .main{
    background-color: #f3c6cb;

  }
}

